---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <article class="post--list-item">
    <header>
      <h2>{{ post.title }}</h2>
    </header>

    {{ post.excerpt }}
    
    <footer>
      <span class="publish-date">Published at: <time datetime="{{ post.date | | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></span>
    </footer>

    <a href="{{ post.url }}">Read more</a>
  </article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>